body {
  margin: 0;
  padding: 0;
}

@media (max-width: 640px) {
  .container,
  .footer,
  .header-container,
  .header-titles {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
  .header {
    width: 100%;
    background-size: cover;
    padding-bottom: 50px;
  }

  .menu-list {
    display: none;
  }

  .burger_button {
    display: flex;
    position: relative;
    width: 30px;
    height: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin-top: 25px;
    order: 2;
  }

  .burger_button-label {
    position: absolute;
    background-color: #fa5c65;
    border-radius: 5px;
    width: 100%;
    height: 4px;
    left: 0;
    top: 10px;
    text-indent: -9999px;
  }

  .burger_button::after,
  .burger_button::before {
    content: " ";
    position: absolute;
    background-color: #fa5c65;
    border-radius: 5px;
    width: 100%;
    height: 4px;
    left: 0;
  }
  .burger_button::before {
    top: 0;
  }
  .burger_button::after {
    bottom: 0;
  }

  .header-titles {
    margin-top: 150px;
    width: 300px;
  }

  .header-title {
    font-size: 30px;
  }

  .header-title-little {
    font-size: 16px;
  }

  .container {
    margin-top: 10px;
    margin-bottom: 70px;
  }

  .portfol-img {
    width: 100%;
  }

  .post-lists {
    flex-wrap: wrap;
  }

  .our-teams {
    flex-wrap: wrap;
  }
}

@media (min-width: 641px) {
  .header {
    width: 100%;
    height: 1057px;
    background-size: cover;
  }

  .header-container {
    width: 940px;
  }

  .header-menu {
    display: flex;
    justify-content: center;
  }

  .burger_button {
    display: none;
  }

  .header-titles {
    display: flex;
    justify-content: center;
    margin-top: 307px;
  }

  .header-title-container {
    width: 940px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }

  .container {
    margin-top: 80px;
    margin-bottom: 60px;
  }

  .title-container {
    width: 509px;
  }

  .header-title {
    font-size: 47px;
  }

  .header-title-little {
    font-size: 20px;
  }

  .container {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
  }

  .portfolio {
    display: flex;
  }

  .footer {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header {
  background-image: url("https://github.com/Nean-As/protjec/blob/main/Photo.jpg?raw=true");
  background-repeat: no-repeat;
  background-color: #c7cccf;
  background-size: cover;
}

.header-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.header-logo {
  width: 140px;
  height: 74px;
  background-color: #fa5c65;
  border-radius: 0 0 10px 10px;
  text-align: center;
}

.logo {
  display: block;
  font-family: "Domine", serif;
  margin-top: 40px;
  font-size: 25px;
  color: #ffffff;
}

.sup {
  font-size: 15px;
  color: #263742;
  vertical-align: sub;
}

.menu-list {
  margin: 0;
  padding-top: 29px;
}

.menu-list-item {
  display: inline-block;
}

.menu-list-item:nth-child(n + 2) {
  margin-left: 34px;
}

.menu-link {
  font-family: Arial;
  font-size: 14px;
  color: #263742;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 5px;
}

.menu-link:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 9px 9px 9px 9px;
  background-color: #fa5c65;
}

.socials {
  display: flex;
}

.socials-items {
  list-style-type: none;
}

.socials-link-twitter {
  fill: #fa5c65;
  display: block;
  width: 20px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.socials-link-facebook {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.socials-link-twitter {
  color: #fa5c65;
}

.socials-link-facebook {
  fill: #fa5c65;
}

.socials-link-text {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.header-title {
  font-family: Arial;
  text-transform: uppercase;
  color: #263742;
}

.dot {
  font-family: Arial;
  color: #fa5c65;
}

.header-title-little {
  font-family: "Open Sans", sans-serif;
  color: #263742;
}

.submit {
  text-transform: uppercase;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 18px;
  width: 150px;
  height: 48px;
  border: none;
  color: white;
  background-color: #fa5c65;
}

.header:hover {
  background-image: url("https://github.com/Nean-As/protjec/blob/main/back-g-h.png?raw=true")
}

.post-lists {
  display: flex;
}

.post-list {
  width: 300px;
  padding-left: 15px;
  padding-right: 15px;
}

.post-title {
  width: 258px;
  font-family: Arial;
  font-size: 26px;
  color: #263742;
  text-transform: uppercase;
}

.post-text {
  width: 254px;
  font-family: Arial;
  color: #b5b9c1;
}

.title-link {
  font-family: Arial;
  text-decoration: none;
  text-transform: uppercase;
  color: #fa5c65;
}

.post-title-link {
  background-image: url("https://github.com/Nean-As/protjec/blob/main/Arrow.png?raw=true");
  background-repeat: no-repeat;
  background-position: 50px;
}

.s {
  width: 12px;
  height: 9px;
  background-image: url("https://github.com/Nean-As/protjec/blob/main/Arrow.png?raw=true");
  background-repeat: no-repeat;
  background-position: right;
}

.portfolio-list {
  width: 380px;
}

.portfolio-title {
  width: 365px;
  font-family: Arial;
  font-size: 26px;
  color: #263742;
  text-transform: uppercase;
}

.portfolio-sub-titile {
  font-family: Arial;
  color: #263742;
}

.portfolio-text {
  font-family: Arial;
  color: #b5b9c1;
}

.portfolio-titles-link {
  background-image: url("https://github.com/Nean-As/protjec/blob/main/Arrow.png?raw=true");
  background-repeat: no-repeat;
  background-position: 50px;
}

.portfolio-title-link {
  font-family: Arial;
  text-decoration: none;
  text-transform: uppercase;
  color: #fa5c65;
}

.our-teams {
  display: flex;
}

.team {
  display: flex;
}

.teams-title {
  font-family: Arial;
  font-size: 26px;
  color: #263742;
  text-transform: uppercase;
  margin-bottom: 0;
}

.taems-slogan {
  font-family: Arial;
  color: #b5b9c1;
  margin-top: 5px;
}

.team {
  width: 290px;
  padding-right: 20px;
}
.team-info {
  width: 145px;
  padding-left: 20px;
}

.team-name {
  font-family: Arial;
  font-size: 20px;
  color: #263742;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 2px;
}

.team-sub-title {
  font-family: Arial;
  color: #fa5c65;
  margin-top: 5px;
  margin-bottom: 5px;
}

.team-text {
  font-family: Arial;
  font-size: 14px;
  color: #b5b9c1;
  margin-top: 8px;
}

p {
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #b9c0c6;
  padding: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
